.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  font-family: sans-serif;
}

.login-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #4285f4;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #357ae8;
}
